<form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <h2>{{title}}</h2>
    <div>
        <label for="check"><span class="error">*</span>Cовершенолетний </label>
        <input id="check" formControlName="oldest" type="checkbox">
    </div>
    <form-text formControlName="name" name="Name:" ></form-text>
    <form-text formControlName="lastName" name="Last Name:" ></form-text>
    <form-text formControlName="otche" name="Otchestvo:" ></form-text>

    <label>
        Сложность рабочего процесса: 
        <form-star formControlName="stars"></form-star>
    </label>
    <div>
        <label for="check">в браке </label>
        <input id="check" formControlName="married" type="checkbox">
    </div>

    <p class="error" *ngIf='!isValid()'>Заполните поля</p>
    <button type="submit">Check</button>
    <div class="json-data">
        <!-- {{form.value | json}} -->
    </div>

</form>


<div *ngIf="isShow" class="data-cont">
    <p class="">Имя: {{data.name}}</p>
    <p class="">Фамилия: {{data.lastName}}</p>
    <p class="">Отчество: {{data.otche}}</p>
    <p class="">{{data.married ? 'Состоит в браке' : 'Не в браке'}}</p>
    <p class="">Возраст совершеннолетия {{data.oldest ? 'достигнут' : 'НЕ достигнут'}}</p>
    <p class="">Сложность рабочего процесса: {{data.stars.text}}</p>

</div>